.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!media/**
.claude/**
.gitignore
.yarnrc
CLAUDE.md
init.md
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
